---
import Layout from "../layouts/Layout.astro";
import SocialNetwork from "../components/SocialNetwork.astro";
import Experience from "../components/Experience";
import Education from "../components/Education.astro";
import SectionContainer from "../components/SectionContainer.astro";
import AboutMe from "../components/AboutMe.astro";

import GitHubIcon from "../icons/GitHub.astro";
import GitLabIcon from "../icons/GitLab.astro";
import ResumeIcon from "../icons/Resume.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import BriefCaseIcon from "../icons/BriefCase.astro";
import EducationIcon from "../icons/Education.astro";

import { Image } from "astro:assets";
---

<Layout title="Portfolio - Marco Baltazar">
	<main class="px-4">
		<SectionContainer id="home" class="lg:pt-20 lg:pb-4 pt-10 pb-4">
			<picture>
				<Image
					src="https://avatars.githubusercontent.com/u/158519820?s=400&u=3600dbffa81b44fc57d7e7e29a156e21da029c69&v=4"
					alt="user portfolio"
					width="50"
					height="50"
					class="rounded-full"
					loading={"eager"}
				/>
			</picture>
			<h1
				class="text-white text-2xl md:text-3xl lg:text-4xl font-bold flex flex-row gap-x-4 lg:py-2 py-1"
			>
				Hey, I'm <span class="text-[#3faef2] font-bold">Marco Baltazar</span>
			</h1>
			<div class="flex gap-10">
				<span class="text-personal-info">mabsbaltazar@gmail.com</span><span
					class="text-personal-info">+591 60717546</span
				>
			</div>
			<nav class="flex justify-center gap-x-2 p-8">
				<SocialNetwork
					href="https://www.linkedin.com/in/marco-antonio-baltazar-santos/"
					networkName="linkedin"
				>
					<LinkedInIcon class="size-6" />
				</SocialNetwork>
				<SocialNetwork href="https://github.com/polacodev" networkName="github">
					<GitHubIcon class="size-6" />
				</SocialNetwork>
				<SocialNetwork
					href="https://gitlab.com/mabsbaltazar"
					networkName="gitlab"
				>
					<GitLabIcon class="size-6" />
				</SocialNetwork>
				<SocialNetwork
					href="Marco Baltazar - resume.pdf"
					networkName="resume"
				>
					<ResumeIcon class="size-6" />
				</SocialNetwork>
			</nav>
		</SectionContainer>

		<SectionContainer id="about-me">
			<AboutMe />
		</SectionContainer>

		<SectionContainer id="experience">
			<h2
				class="text-2xl font-semibold mb-6 flex gap-x-3 items-center opacity-80"
			>
				<BriefCaseIcon class="size-7" />
				Experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="education" class="pb-5">
			<h2
				class="text-2xl font-semibold mb-6 flex gap-x-3 items-center opacity-80"
			>
				<EducationIcon class="size-7" />
				Education
			</h2>
			<Education />
		</SectionContainer>
	</main>
</Layout>

<style>
	.text-personal-info {
		@apply text-sm font-light text-white/50 hover:italic;
	}
</style>
