---
import Layout from "../layouts/Layout.astro";
import SocialNetwork from "../components/SocialNetwork.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Stack from "../components/Stack.astro";

import GitHubIcon from "../icons/GitHub.astro";
import GitLabIcon from "../icons/GitLab.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GmailIcon from "../icons/Gmail.astro";
import BriefCaseIcon from "../icons/BriefCase.astro";
import EducationIcon from "../icons/Education.astro";
import UserIcon from "../icons/User.astro";
---

<Layout title="Portfolio - Marco Baltazar">
	<main class="px-4">
		<SectionContainer id="home" class="py-44 pb-24">
			<img
				class="rounded-full w-12 h-12"
				src="https://avatars.githubusercontent.com/u/158519820?s=400&u=3600dbffa81b44fc57d7e7e29a156e21da029c69&v=4"
				alt="marcus photo"
			/>
			<h1
				class="text-white text-2xl md:text-3xl lg:text-4xl font-bold flex justify-center flex-row gap-x-4 pb-4"
			>
				Hey, I'm Marco Baltazar
				<a
					href="https://www.linkedin.com/in/marco-antonio-baltazar-santos/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
					><Badge>Open to work</Badge></a
				>
			</h1>
			<h2 class="text-xl lg:text-2xl max-w-[700px] opacity-80 text-wrap lg:text-pretty">
				Fullstack developer who has an extra taste for
				<span class="text-[#3faef2] font-semibold">Frontend</span> development.
				<span class="text-[#3faef2] font-semibold">Software Engineer</span> +4 years
				of experience working on outsourcing projects.
			</h2>
			<nav class="flex justify-center gap-x-2 p-8">
				<SocialNetwork href="https://github.com/polacodev">
					<GitHubIcon class="size-6" />
				</SocialNetwork>
				<SocialNetwork href="https://gitlab.com/mabsbaltazar">
					<GitLabIcon class="size-6" />
				</SocialNetwork>
				<SocialNetwork
					href="https://www.linkedin.com/in/marco-antonio-baltazar-santos/"
				>
					<LinkedInIcon class="size-6" />
				</SocialNetwork>
				<SocialNetwork href="https://www.linkedin.com/in/marco-antonio/">
					<GmailIcon class="size-6" />
				</SocialNetwork>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center opacity-80">
				<BriefCaseIcon class="size-7" />
				Experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="education">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center opacity-80">
				<EducationIcon class="size-7" />
				Education
			</h2>
			<Education />
		</SectionContainer>

		<SectionContainer id="about-me">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center opacity-80">
				<UserIcon class="size-7" />
				About me
			</h2>
			<p class="text-pretty ml-2 opacity-80">
				I studied Systems Engineering at the Universidad Mayor de San Simón, I
				have been working with javascript, typescript, react in frontend and
				graphql, nodejs, c# in backend as well as react native for mobile
				development, I have +4 years of experience developing commercial
				software, attentive to the quality of work at each stage of the
				development life cycle from design, implementation of functionality,
				debugging, testing and maintenance. I'm interested on backend frontend
				development and learning new technologies.
			</p>
			<Stack />
		</SectionContainer>
	</main>
</Layout>
