---
interface Props {
	key: string;
	title: string;
	company: string;
	date: string;
}

const { key, title, date, company } = Astro.props;
---

<li class="mb-10 ms-4">
	<div
		class="absolute size-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
	>
	</div>
	<h3 class="text-lg font-semibold text-blue-300 dark:text-white">
		{title}
	</h3>
	<h4 class="text-lg font-semibold text-gray-300 dark:text-white">
		{company}
	</h4>
	<time
		class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
		>{date}</time
	>
</li>
