---
// frontend icons
import AstroIcon from "../icons/frontend-stack/Astro";
import CssIcon from "../icons/frontend-stack/Css";
import HtmlIcon from "../icons/frontend-stack/Html";
import NextJSIcon from "../icons/frontend-stack/NextJS";
import ReactIcon from "../icons/frontend-stack/React";
import ReduxIcon from "../icons/frontend-stack/Redux";
import TailwindIcon from "../icons/frontend-stack/Tailwind";
import ReactNativeIcon from "../icons/frontend-stack/ReactNative";
import AndroidIcon from "../icons/frontend-stack/Android";
import TypeScriptIcon from "../icons/frontend-stack/TypeScript";

// backend icons
import DotNetIcon from "../icons/backend-stack/DotNet";
import GitBashIcon from "../icons/backend-stack/GitBash";
import GraphQLIcon from "../icons/backend-stack/GraphQL";
import MongoDBIcon from "../icons/backend-stack/MongoDB";
import JestIcon from "../icons/backend-stack/Jest";
import JavaScriptIcon from "../icons/backend-stack/JavaScript";
import MySqlIcon from "../icons/backend-stack/MySql";
import NodeJSIcon from "../icons/backend-stack/NodeJS";
import SqlIcon from "../icons/backend-stack/Sql";
import AzureDevOpsIcon from "../icons/backend-stack/AzureDevOps";
import ApolloGraphQLIcon from "../icons/backend-stack/ApolloGraphQL";
import LinuxIcon from "../icons/backend-stack/Linux";
---

<nav
	class="gap-x-4 px-3 lg:gap-x-6 lg:p-6 grid md:grid-cols-6 grid-cols-4 gap-3 pt-3"
>
	<AstroIcon size="size-12" />
	<CssIcon size="size-12" />
	<HtmlIcon size="size-12" />
	<NextJSIcon size="size-12" />
	<ReactIcon size="size-12" />
	<ReduxIcon size="size-12" />
	<TailwindIcon size="size-12" />
	<ReactNativeIcon size="size-12" />
	<AndroidIcon size="size-12" />
	<TypeScriptIcon size="size-12" />
	<DotNetIcon size="size-12" />

	<GitBashIcon size="size-12" />
	<GraphQLIcon size="size-12" />
	<MongoDBIcon size="size-12" />
	<JestIcon size="size-12" />
	<JavaScriptIcon size="size-12 rounded-sm" />
	<MySqlIcon size="size-12" />
	<NodeJSIcon size="size-12" />
	<SqlIcon size="size-12" />
	<AzureDevOpsIcon size="size-12" />
	<ApolloGraphQLIcon size="size-12" />
	<LinuxIcon size="size-12" />
</nav>
