---
// frontend icons
import AstroIcon from "../icons/fronend-stack/AstroIcon.astro";
import CssIcon from "../icons/fronend-stack/Css.astro";
import HtmlIcon from "../icons/fronend-stack/Html.astro";
import NextJSIcon from "../icons/fronend-stack/NextJS.astro";
import ReactIcon from "../icons/fronend-stack/React.astro";
import ReduxIcon from "../icons/fronend-stack/Redux.astro";
import TailwindIcon from "../icons/fronend-stack/Tailwind.astro";
import ReactNativeIcon from "../icons/fronend-stack/ReactNative.astro";
import TypeScriptIcon from "../icons/fronend-stack/Typescript.astro";

// backend icons
import DotnetIcon from "../icons/backend-stack/Dotnet.astro";
import GitbashIcon from "../icons/backend-stack/Gitbash.astro";
import GraphQLIcon from "../icons/backend-stack/GraphQL.astro";
import MongoDBIcon from "../icons/backend-stack/MongoDB.astro";
import JestIcon from "../icons/backend-stack/Jest.astro";
import JavasSriptIcon from "../icons/backend-stack/Javascript.astro";
import MysqlIcon from "../icons/backend-stack/Mysql.astro";
import NodeJSIcon from "../icons/backend-stack/NodeJS.astro";
import SqlIcon from "../icons/backend-stack/Sql.astro";
---

<nav
	class="gap-x-4 px-3 lg:gap-x-6 lg:p-6 grid md:grid-cols-6 grid-cols-4 gap-3 pt-3"
>
	<AstroIcon id="astro" class="size-12" />
	<CssIcon id="css" class="size-12" />
	<HtmlIcon id="html" class="size-12" />
	<NextJSIcon id="nextjs" class="size-12" />
	<ReactIcon id="react" class="size-12" />
	<ReduxIcon id="redux" class="size-12" />
	<TailwindIcon id="tailwind" class="size-12" />
	<ReactNativeIcon id="react" class="size-12" />
	<TypeScriptIcon id="typescript" class="size-12" />
	<DotnetIcon id="dotnet" class="size-12" />
	<GitbashIcon id="gitbash" class="size-12" />
	<GraphQLIcon id="graphql" class="size-12" />
	<MongoDBIcon id="mongodb" class="size-12" />
	<JestIcon id="jest" class="size-12" />
	<JavasSriptIcon id="js" class="size-12 rounded-sm" />
	<MysqlIcon id="mysql" class="size-12" />
	<NodeJSIcon id="nodejs" class="size-12" />
	<SqlIcon id="sql" class="size-12" />
</nav>
